html{

    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;

}
body{
    font-family: 'Playfair Display', serif  ;
    color: #626262;
    font-size: 14px;
        line-height: 24px;
        
        
    }
        

        

.container{
   
   
margin: 0 auto;
width: 900px;


}




    .site-navigation{
margin: 0;
padding: 0;
font-size: 0;
text-align: center; }





    
    .site-navigation li{
        display: inline-block;
        
        
    }

    .site-navigation li:not(:last-child){
        margin-right : 125px ;
    }
    .site-navigation a {
        color:#626262 ;
        font-weight: normal;
        text-transform: uppercase;
        text-decoration: none;
        line-height: 14px;
        font-size: 14px;
        display: block;
        text-align: center;
    }
.site-navigation a:hover{
    color: #03a9f4
}
  
    
.page-header{
    padding-top: 79px;
    padding-bottom: 103px ;
    text-align: center;
  
   


}


.section-page
{
    font-size: 0;
}




.content-article
{ 
    display: inline-block;
    width: 420px;
   
    margin-right:60px ;
    margin-bottom: 130px;
  
}

.content-article:nth-child(2n){
    margin-right: 0;}




    img {
        display: block;
        max-width: 100%;
        height: auto;
        margin-bottom: 30px ;
     }


.photo-style{
    font-size: 14px;
    text-transform: uppercase;
    margin:0 ;
    margin-bottom: 30px;
    font-weight: lighter;

    color: #b4ad9e;
font-family: 'Ubuntu' , serif;




}


.heading{
    font-size: 30px;
    margin: 0;
    margin-bottom: 35px;
}

.paragraph{
    font-size: 14px;
    margin: 0;
    
}

button {
    width: 160px;
    height: 60px;
    font-size: 20px;
    background-color: #fcfcfc ;
    margin: 0 auto;
    display: block;
    
}

button:hover {
    background: #03a9f4;}