
html{

    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;

}
body{
    font-family: 'Playfair Display', serif  ;
    color: #626262;
    font-size: 14px;
        line-height: 24px;
        display: inline-block;
        
    }
        

        

.container{
   
   
margin: 0 auto;
width: 900px;
text-align: center;

}




    .site-navigation{
margin: 0;
padding: 0;
font-size: 0;
text-align: center; }





    
    .site-navigation li{
        display: inline-block;
        
        
    }

    .site-navigation li:not(:last-child){
        margin-right : 125px ;
    }
    .site-navigation a {
        color:#626262 ;
        font-weight: normal;
        text-transform: uppercase;
        text-decoration: none;
        line-height: 14px;
        font-size: 14px;
        display: block;
        text-align: center;
    }
.site-navigation a:hover{
    color: lawngreen;
}
  
    
.page-header{
    padding-top: 79px;
    padding-bottom: 103px ;
    text-align: center;
    width: ;
   


}



.content-section
{ 
    display: inline-block;
    width: 421px;
    font-size: 0px;
    padding-left: 1px;
    margin-right:60px ;
    margin-bottom: 130px;
  
}








.photo-style{
    font-size: 14px;
    text-transform: uppercase;




}


h2{
    font-size: 14px;
}

.paragraph{
    font-size: 12px;
}
