
body{
    font-family: 'Playfair Display', serif  ;
    color: #626262;
    font-size: 14px;
        line-height: 24px;
        display: inline-block;
        background-color;
    }
    

    

    .nav {
        text-transform: uppercase;
        color : #626262 ;
        font-weight: 400;
        text-decoration: none;
        line-height: 17px;
        margin-top: 70px;
        margin-left: 340px;
        margin-bottom: 100px;
    
        outline: 1 px solid red ; }


        .menu-item1 {

        display: inline-block ;
        color: aqua ;
        list-style: none;
        margin-right: 124px;
        ;
       
;
        
    }
    .menu-item2 {
        display: inline-block;
        list-style: none;
        margin-right: 123px;
    }
    .menu-item3 {
        display: inline-block;
        list-style: non;
        margin-right: 121px;
    }
.menu-item4 {
    display: inline-block;
list-style: none; 
margin-right:  121px; ;

}


        .menu-link{
            text-decoration: none;
            color: #626262;
            list-style: none;
           

        }
    

        .img1 {
            display: inline-block;
            
            font-size: 14px;
            margin-left:250px ;
            margin-right: 100px;
            margin-bottom: 150px;
            width: 420px;
            height: 470px;
        }

.img2 {
    display: inline-block;
    font-size: 14px;
    margin-right: 150px;
    width: 420px;
    height: 470px;
}

.img3
{
    display: inline-block;
    width: 420px;
    height: 470px;
    margin-left: 250px;
    outline: 70 red;
}
.img4
{
    display:inline-block ;
    width: 420px;
    height: 470px;
    margin-left: 100px;
    margin-bottom:150px ;
}
.img5
{
    display: inline-block;
    width: 420px;
    height: 470px;
    margin-left: 250px;

}
.img6
{
    display:inline-block ;
    width: 420px;
    height: 470px;
    margin-left: 100px;
}

.photo-style { color: #b4ad9e;
    font-family: 'Ubuntu', sans-serif;
line-height: 17px;
text-transform: uppercase;
}

  


}
h2{
color: #626262;
line-height: 36px;
}


button{
    display: block;
    color:#626262;
    font-size: 20px;
    font-weight: 400;
    margin: auto;
    width: 164px;
    height: 56px;
    background-color: #fafafa;
    margin-top: 60px;
}

